---
import Layout from '@/layouts/FullLayout.astro'
import ForgotPasswordForm from '@/components/ForgotPasswordForm'
---

<Layout title="パスワードを忘れた場合">
  <div class="w-full max-w-md">
    <ForgotPasswordForm client:load />
  </div>
</Layout>
