---
import Layout from '@/layouts/FullLayout.astro'
import ResetPasswordForm from '@/components/ResetPasswordForm'

// URLパラメータからトークンを取得
const token = Astro.url.searchParams.get('token') || ''
---

<Layout title="パスワードリセット">
  <div class="w-full max-w-md">
    <ResetPasswordForm client:only="react" token={token} />
  </div>
</Layout>
